.root {
    -fx-background-color: rgba(255, 15, 26, 1);
}

#title {
    -fx-text-fill: white;
    -fx-font: normal 40px "Password Book", "HP Simplified", courier, serif;
    -fx-effect: dropshadow(two-pass-box, black, 5, 0.1, 0, 0);
}

#keyimage {
    -fx-image: url(key.png);
    -fx-effect: dropshadow(two-pass-box, black, 5, 0.1, 0, 0);
}

#passwordTitle {
    -fx-text-fill: white;
    -fx-font: normal 22px "Password Book", "HP Simplified", courier, serif;
    -fx-effect: dropshadow(two-pass-box, black, 5, 0.1, 0, 0);
}

#title:hover, #keyimage:hover, #passwordTitle:hover {
    -fx-effect: dropshadow(two-pass-box, black, 10, 0.05, 0, 0);
}

#passwordField {
    -fx-background-color: rgba(5, 5, 5, 0.25);
    -fx-background-radius: 15px;
    -fx-border-color: white;
    -fx-border-radius: 15px;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(two-pass-box, black, 5, 0.025, 0, 0);
    -fx-font: normal 12px "HP Simplified", courier, serif;
    -fx-text-fill: white;
}

#passwordField:hover {
    -fx-effect: dropshadow(two-pass-box, black, 5, 0.3, 0, 0);
}

#imgCopy, #imgErase {
    -fx-effect: dropshadow(two-pass-box, black, 5, 0.1, 0, 0);
}

#imgCopy:hover, #imgErase:hover {
    -fx-effect: dropshadow(two-pass-box, black, 10, 0.05, 0, 0);
}

#imgCopy:pressed, #imgErase:pressed {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#generateButton {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 15px;
    -fx-border-color: white;
    -fx-border-radius: 13px;
    -fx-border-style: segments(10px, 0px, 100px, 12px);
    -fx-border-width: 2px;
    -fx-effect: dropshadow(two-pass-box, black, 5, 0.3, 0, 0);
    -fx-font: bolder 15px "HP Simplified", courier, serif;
    -fx-text-fill: white;
}

#generateButton:hover {
    -fx-border-color: white;
    -fx-effect: dropshadow(two-pass-box, black, 7, 0.5, 0, 0);
}

#generateButton:pressed {
    -fx-border-color: black;
    -fx-effect: dropshadow(two-pass-box, aqua, 2, 1, 0, 0);
    -fx-text-fill: black;
}